html {
    body {
        .button-github {
            background-color: #24292e;
            border-color: #24292e;
        }

        .button-npm {
            background-color: #cb3837;
            border-color: #cb3837;
        }

        .title-grid {
            display: flex;
            flex-wrap: wrap;

            :first-child {
                @media (max-width: 991.98px) {
                    text-align: center;
                }
            }

            :last-child {
                @media (max-width: 991.98px) {
                    text-align: center;
                }
                @media (min-width: 992px) {
                    text-align: right;
                }
            }
        }

        .settings-title {
            @media (max-width: 767.98px) {
                margin-top: 1rem;
            }
            @media (min-width: 768px) {
                text-align: right;
            }
        }
    }
}
